/.aux
/lshort-zh-cn.pdf
/notebook.aux
/notebook.bbl
/notebook.blg
/notebook.fdb_latexmk
/notebook.fls
/notebook.idx
/notebook.ilg
/notebook.ind
/notebook.log
/notebook.out
/notebook.pdf
/notebook.synctex.gz